<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./paginas/style.css">
    <title>Titulo</title>
<body>
    <div class="panel-inicio">
    {{> nav }}
    </div>
    
        {{#each data}}
        <section class="text">
            <h2>{{titulo}}</h2>
            <h3>{{titulo2}}</h3>
            {{#each integrantes}}
            {{#ifCond matricula ../integrante.matricula}}
            <h4>{{nombre}} {{apellido}} ({{matricula}})</h4>
            {{/ifCond}}
            {{/each}}
            <h3>{{logo}}</h3>
            <div class="imagen">
                {{#if imagen}}
                <img src="{{imagen}}">
                {{else}}
                {{alt}}
                {{/if}}
            </div>
        </section>
        {{/each}}
    </div>

    <footer class="">
        {{> footer}}
    </footer>
</body>
</html>
